RACKTOP_SITE_ADDRESS=http://:80
RACKTOP_BIND_ADDRESS=127.0.0.1
RACKTOP_HTTP_PORT=37935
RACKTOP_PUBLIC_URL=http://localhost:37935
RACKTOP_SECURE_COOKIE=false
RACKTOP_BOOTSTRAP_ADMIN=admin
# WECOM_WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=replace-me
RUST_LOG=racktop_hub=info,tower_http=info
